* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e6e6e6;
  font-weight: 500;
  font-size: 20px;
}

body .logo {
  height: 200px;
}

body .phone-number {
  height: 200px;
  font-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar-custom {
  background-color: #003d76;
  border-color: #003d76;
  color: white;
  font-size: 1.5rem;
}

body .navbar-custom a {
  background-color: #003d76;
  border-color: #003d76;
  color: white;
}

body .navbar-custom a:hover {
  color: #003d76;
}

body .count-custom {
  position: relative;
  top: -33px;
  left: 33px;
  background: #006c86;
  min-width: 35px;
  height: 32px;
  width: 15px;
  border-radius: 50%;
  font-size: 20px;
  display: block;
  padding: 7px 7px 10px;
  border: 2px solid #fff;
  text-align: center;
}

body .count-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 30px;
}

body .heros-container {
  max-width: 900px;
  margin: auto;
}

body .heros-container .card {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #e6e6e6;
  outline: 2px solid black;
  height: 400px;
}

body .heros-container .card .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .heros-container .card .card-top .menu {
  margin-left: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #006c86;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 7px 20px;
  color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

body .heros-container .card .card-top .menu a {
  text-decoration: none;
  color: white;
}

body .heros-container .card .card-top .menu .tab-links-title {
  font-weight: bolder;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #006c86;
}

body .heros-container .card .card-top .menu .tab-links-title:hover {
  background-color: #e6e6e6;
  color: #006c86;
}

body .heros-container .card .card-top .menu .tab-links {
  font-weight: 500;
  border-left: 2px solid snow;
  margin-left: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: #006c86;
}

body .heros-container .card .card-top .menu .tab-links:hover {
  background-color: #e6e6e6;
  color: #006c86;
}

body .heros-container .card .card-bottom .card-body {
  font-size: 1.3em;
}

body .heros-container .card .card-bottom .card-body p {
  margin-top: 15px;
}

body .heros-container .card .card-bottom .card-body .card-image img {
  margin: 10px;
  width: 200px;
  height: 175px;
}

body .heros-container .card .card-bottom #bottom {
  position: absolute;
  left: 50px;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .heros-container .card .card-bottom #bottom .remove-btn {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 18px;
  background-color: #006c86;
  color: white;
}

body .heros-container .card .card-bottom #bottom .remove-btn:hover {
  background-color: #e6e6e6;
  color: #006c86;
  font-weight: 900;
}

body .heros-container .card .card-bottom #bottom .card-btn {
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 18px;
  background-color: #006c86;
  color: white;
}

body .heros-container .card .card-bottom #bottom .card-btn:hover {
  background-color: #e6e6e6;
  color: #006c86;
  font-weight: 900;
}

body .heros-container .card .card-bottom #bottom .card-btn .cart {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}

body .heros-container .card .card-bottom #bottom .card-btn .cart:hover {
  color: #006c86;
}

.footer {
  background-color: #003d76;
  color: whitesmoke;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.footer .container .logo {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container .content-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
}

.footer .container .content-info h1 {
  font-size: 25px;
}

.footer .container .copyright {
  font-size: 20px;
  border-right: #e6e6e6;
  border-left: #e6e6e6;
}

#myBtn {
  display: none;
  z-index: 99;
  border: none;
  outline: none;
  position: fixed;
  bottom: 8px;
  right: 15px;
  background-color: #006c86;
  color: white;
  width: auto;
  -webkit-transition: 5s;
  transition: 5s;
}

#myBtn:hover {
  background-color: #e6e6e6;
  color: #006c86;
  font-weight: 900;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Toggle this class - hide and show the popup */
  /* Add animation (fade in the popup) */
}

.popup .popuptext {
  display: none;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.popup .popuptext .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  display: inline block;
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */