@mixin btn-guide {    
    width: 150px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    font-size: 18px;
    &:hover {
        background-color: #e6e6e6;
        color: #006c86;
        font-weight: 900;
      }
    @content;
}